@charset "UTF-8";

body {
    text-align: center;
    background: #756c83;
    color: #fbfbfb;
    min-width: 800px;
}

.title {
    margin: 50px auto;
}

.test-btn {
    display: inline-block;
    background: #f38181;
    width: 120px;
    line-height: 48px;
    font-size: 28px;
    border: 2px solid #b9e1dc;
    cursor: pointer;
    border-radius: 8px;
    margin: 100px 30px;
}

.test-btn:hover {
    background: #d35353;
}